body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#info {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    border: 1px solid;
    text-align: center;
    color: white;
}

#info h1 {
    padding: 10px;
    color: black;
    background-color: white;
    font-weight: 600;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 0;
}

hr {
    border-color: white;
}